:root {
    --fontprimary: 'Roboto' sans-serif;
    --fontbuttons: 'Segoe'
}

#title {
    font-family: var(--fontbuttons);
    font-weight: 900;
    font-size: 25px;
    margin-left: 5px;
    color: white;
    /* margin-top:  35px; */
}

.content-tema-shower {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding: 0px;
    margin-top: 10px;
}

@font-face {
    font-family: 'Segoe';
    font-style: normal;
    src: url(../public/fonts/SEGOEUI.TTF);
}


@media screen and (max-width: 767px) {
    #title {
       font-size: 20px;
  
     }
     .img-instagram {
         width: 50px;
         height: 50px;
         
     }
   }


@media screen and (max-width: 600px) {
   #title {
      font-size: 20px;
    }
    .img-direito {
        width: 60px;
        height: 60px;
        
    }
    .img-instagram {
        width: 50px;
        height: 50px;
    }

    .input-info-inicial {
        margin-top: -15px;
    }
  }
  
@media screen and (max-width: 519px) {
    #title {
       font-size: 17px;
     }
}

@media screen and (max-width: 508px) {
    #title {
       font-size: 17px;
     }
}

@media screen and (max-width: 467px) {
    #title {
       font-size:  15px;
     }
}

@media screen and (max-width: 460px) {
    #title {
       font-size: 15px;
     }
     .content-tema-shower {
         display: flex;
         flex-direction: column;
     }
}
@media screen and (max-width: 435px) {
    #title {
       font-size: 12px;
     }
}

@media screen and (max-width: 432px) {
    #title {
       font-size: 12px;
     }
}

@media screen and (max-width: 427px) {
    .img-direito {
        width: 45px;
        height: 45px;
      
    }
    .img-instagram {
        width: 40px;
        height: 40px;
    }
    #title {
        font-size: 15px;
    }
}

@media screen and (max-width: 417px) {
  
    #title {
        font-size: 13px;
    }
} 

@media screen and (max-width: 386px) {
    
    #title {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .img-direito {
        width: 45px;
        height: 45px;
     
    }
    .img-instagram {
        width: 40px;
        height: 40px;
    
    }
    #title {
        font-size: 12px;
    }
}
@media screen and (max-width: 370px) {
    
    #title {
        font-size: 11px;
    }
}

@media screen and (max-width: 356px) {
    .img-direito {
        width: 35px;
        height: 35px;
     
    }
    .img-instagram {
        width: 30px;
        height: 30px;
    
    }
    /* #title {
        font-size: 12px;
    } */
}

    
@media screen and (max-width: 345px) {
    .img-direito {
        width: 45px;
        height: 45px;
      
    }
    .img-instagram {
        width: 30px;
        height: 30px;
     
    }
    #title {
        font-size: 12px;
    }
}


@media screen and (max-width: 330px) {
    #title {
       font-size: 11px;
     }
    
    .img-instagram {
        width: 35px;
        height: 35px;
       
    }
}

@media screen and (max-width: 320px) {
    .img-direito {
        width: 35px;
        height: 35px;
    
    }
    .img-instagram {
        width: 29px;
        height: 29px;
      
    }
    #title {
        font-size: 9px;
        font-weight: BOLD;
    }
}

.header {
    display: flex;
    flex-direction: row;
    background: transparent linear-gradient(276deg, #0F4C81 0%, #224978 0%, #274876 1%, #2C4774 10%, #2F4772 15%, #334770 21%, #514362 38%, #BD3330 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 100%;
    height:auto;
    margin: 0px;
}

.insta-flex-header {
    flex: 1;
    align-items: center;
}

.direito-img-header {
    display: flex;
    flex: 14;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: -15px;

}

.content-buttons-filters {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}


.content-info {
    width: 100%;
    /* border-bottom: 1px solid #DCDCDC; */
    margin-left: 0px;
    margin-bottom: 5px;
}


.input-infos {
    width: 230px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.input-info-inicial {
    width: 230px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
     .input-info-inicial {
         margin-top: -15px;
         width: 100%;
     }
   }

.btnFilterPDF {
    background-color: #2b4874;
    width: 204px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
    border: #2b4874;
    opacity: 1;
    margin-bottom: 10px;
}

.btnFilterPDF:hover {
    background-color: #2b4874;
    opacity: 0.9;
}

.btnFilterPDF:focus {
    background-color: #2b4874;
}


.btnFilter {
    background-color: #2b4874;
    width: 204px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
    border: #2b4874;
    opacity: 1;
    margin-bottom: 10px;
}


.btnFilter:hover {
    background-color: #2b4874;
    opacity: 0.9;
    
}

.btnFilter:focus {
    background-color: #2b4874;
}




.btnLimpar {
    width: 204px;
    margin-top: 10px;
    background-color: #bd3330;
    height: 40px;
    border: #bd3330;
    opacity: 1;
    margin-bottom: 10px;
    
}

.btnLimpar:hover {
    background-color: #bd3330;
    opacity: 0.9;
}

.btnLimpar:focus {
    background-color: #bd3330;
}


.btnGerarPDF {
    width: 419px;
    margin-top: 0px;
    margin-left: 0px;
    height: 40px;
    
}

.btnLimparPDF {
    width: 204px;
    margin-top: 10px;
    background-color: #bd3330;
    height: 40px;
    border: #bd3330;
    opacity: 1;
    margin-bottom: 10px;   
}
.btnLimparPDF:hover {
    background-color: #bd3330;
    opacity: 0.9;
}


@media screen and (max-width: 285px) {
    .btnFilter {
        width: 100%;
    }
    .btnLimpar {
        width: 100%;
    }
}


@media screen and (max-width:767px) {
    .btnGerarPDF {
        width: 100%;
    }
    .btnFilterPDF {
        width: 100%;
        margin-bottom: 0px;
    }
    .btnLimparPDF {
        width: 100%;
    }
}

@media screen and (min-width:1247px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  
}



.filtername {
    font-family: 'Segoe';
    font-weight: bold;
    color: #bd3330;
    font-size: 20px; 
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.mult-escolha {
    font-family: 'Segoe';
    margin-top: 10px;
    color: #707070;
}

.ce {
    font-family: 'Segoe';
    margin-top: 10px;
    color: #707070;
}

@media screen and (max-width:600px) {

    .filtername {
        margin-bottom: 25px;
    }
  
}



.TitlePergunta {
    font-family: 'Segoe';
    color: 	#4F4F4F;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 5px;
}
.descPergunta {
    font-family: 'Segoe';
    font-weight: bold;
    font-size: 15px;
    color: #808080;
    margin-right: 2px;
    margin-left: 5px;
}
.dataPerguntaAll {
    font-family: 'Segoe';
    font-size: 15px;
    color: 	#808080;
    margin-left: 1px;
    margin-right: 1px;
}

.dataMateria {
    font-family: 'Segoe';
    font-size: 15px;
    color: 	#808080;
    margin-left: 5px;
    margin-right: 1px;
}

.alternativa {
    font-family: 'Segoe';
    font-size: 15px;
    color:#4F4F4F;
    margin-top: 10px;
    margin-left: 15px;
}

.alternativa:hover {
    cursor: pointer;
}
.certo-errado {
    margin-top: -10px;
}
.certo-errado:hover {
    cursor: pointer;
}

.separadorQuestão {
    width: 100%;
    border-bottom: 3px solid #A9A9A9;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
}
.ContainerAlternativa {
    padding: 0px;
    width: 36px;
    height: 36px;
    border: 2px solid #cb605d;
    border-radius: 50%;
    /* padding: 0px; */
    /* margin: 0px; */
    margin-right: 5px;
    margin-top: 0px;
    opacity: 0.8;
    background-color: white;
}
.ContainerAlternativa:focus {
    /* background-color: #cb605d; */
    outline: none;
}

.btnResponder {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #BD3330;
    border: none;
    width: 235px;
    margin-left: -15px;
    height: 40px;
}

.btnResponder:hover {
    opacity: 0.8;
    background-color: #bd3330;
}

.btnResponder:focus {
    background-color: #bd3330;
}

.btnResponder:active {
    background-color: #bd3330;
}



.btnVisuJust {
    /* background-color: white; */
    margin-top: 1px;
    margin-bottom: 10px;
    border: 1px solid #afc2d3;
    width: 235px;
    height: 40px;
    margin-left: -15px;
    
}


.btnVisuJust:hover {
    opacity: 0.8;
    /* background-color: #93acc4; */
    border: 2px solid #93acc4;
}
.btnVisuJust:focus {
    outline: none;
    border: none;
}

.containerJust {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #b8aeae;
    margin-bottom: 10px;
    word-break: break-word;
    border-radius: 2px;
    margin-left: 0px;
}

.textJust {
    font-family: 'Segoe';
    font-size: 15px;
    color: #808080; 
}

@media screen and (max-width: 386px) {
    
    .btnVisuJust{
        width: 100%;
    }
    .btnResponder {
        width: 100%;
    }
}



.questao {
    height: 35px;
    border: 2px solid #808080;
    display: flex;
    justify-content: left;
    border-radius: 5px;
    background-color:transparent;
    margin-top: 0px;
    width: 100%;
    margin-left: 0px;
    
}

.questaoTitle {
    font-family: 'Segoe' sans-serif;
    font-size: 15px;
    color: #696969;
    font-weight: bold;
    margin-top: 3px;
}

.ContainerDescPergunta {
    display: flex;
    /* align-items: left; */
    /* justify-content: left; */
    border-bottom: 1px solid #C0C0C0;
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
}

.paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginaAtual {
    font-family: 'Segoe';
    font-size: 25px;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black; 
}

.btnpages:focus {
   outline: none;
}

.totalPaginas {
    font-family: 'Segoe' sans-serif;
    font-size: 15px;
    color: #808080;
    margin-right: 0px;
}
.option-filter {
    font-size: 20px;
    color: black;
}

.input-informativo {
    width: 230px;
    margin-right: 10px;
    margin-top: 10px;
}

.content-checkbox {
    width: 25px;
    height: 25px;
    background-color: rgba(203,96,93,255,0.3);
    margin-top: 10px;
    opacity: 0.4;
    border: 1px solid #cb605d;
    margin-right: 5px;
}

.content-checkbox-checked {
    width: 25px;
    height: 25px;
    background-color: #DF9D9C;
    margin-top: 10px;
    border: 1px solid #cb605d;
    margin-right: 5px;
}


.content-checkbox:hover {
    cursor: pointer;
}

.content-checkbox-checked:hover {
    cursor: pointer;
}



.btnAlter {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: transparent;

}

.ContainerFiltros {
    border: 1px solid #808080;
    background-color: #FFFAFA;
    width: 710px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width:519px) {
    .ContainerFiltros {
        display: flex;
        flex-direction: column;
      
    }
}

@media screen and (max-width:768px) {

    .input-infos {
        width: 100%;
        margin-right: 0px;
    }
    .input-info-inicial {
        width: 100%;
        margin-right: 0px;
    }
    .ContainerFiltros{
        margin-right: 0px;
    }
    
    .content-info {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .direito-img-header {
        flex: 9;
    }

}

.filter-label {
    margin-top: 10px;
}

.caixaFiltro {
    background-color: transparent;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: auto;
    margin-right: 10px;
   

}

.caixaFiltro:hover {
        cursor: pointer;
        background-color: #DCDCDC;
        border: 2px solid #C0C0C0;
}



@media screen and (max-width: 1000px) {
    .caixaFiltro:hover {
        background-color: transparent;
        border: 1px solid #C0C0C0;
    }
}     


.xis {
    margin-left: 5px;
    border-radius: 50px;
    /* background-color: #DCDCDC; */
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    text-align: center;
    color: 	#808080;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.container-login {
    border: 1px solid 	#696969;
    padding: 50px;
    border-radius: 20px;
    background-color:white;
}   

.content-materias-addpergunta {
    background-color: pink;
    margin-right: 10px;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 45px;
    margin-bottom: 10px;
}

.content-materias-addpergunta:hover {
    cursor: pointer;
    border: 1px solid red;
}

/* PAINELLLL */


.header-painel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.opts-painel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    color: #707070;
}

@media screen and (max-width:772px) {
    .opts-painel {
        font-size: 10px;
    }
}

.opts-header-painel {

    background-color:#E2DDDD;
    height: 40px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opts-header-painel:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}


.body-painel {
    width: 100%;
    background-color:white;
    margin: 0px;
    
}

.separador-add-pergunta {
    width: 100%;
    border-bottom: 1px solid	#C0C0C0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-add-pergunta {
    width: 100%;
    

}
.input-add-pergunta-info-inst {
    width: 97%;
    border: 3px solid #C0C0C0;

}
.ou-add-pergunta {
    margin-left: 3px;
    margin-right: 3px;
    font-family: 'Segoe';
    font-size: 15;
    font-weight: bold;
}
.input-add-materia {
    width: 100%;
}

.content-gerenciarquest {
    width: 100%;
    margin: 0px;
    height: 500px;
}

.mat-info {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.descMat {
    font-family: 'Segoe';
    font-weight: bold;
    font-size: 15px;
    color: #808080;
    margin-right: 2px;
    margin-left: 5px;
}


.btnLogin {
    margin-top: 5px;
    background-color: #2F4C6E;
    width: 204px;
    height: 40px;

}

.btnLogin:hover {
    background-color: #2F4C6E;
    opacity: 0.9;
    border: none;
}


@media screen and (max-width:337px) {
    .btnLogin {
        width: 100%;
    }
}

.content-mat {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    
}


@media screen and (max-width:991px) {
    .form-mat-tema {
        display: flex;
        flex-direction: column;
    }
    .content-mat {
        width: 100%;
    }
}

.content-alternativas {
    display: flex;
    flex-direction: row;
}
.content-questao-atualizada {
    display: flex;
    flex: 1;
    /* justify-content: center;
    align-items: center; */
    margin: 0px;
    background-color: rgb(235,228,192);
    width: 202px;
    height: 71px;
    border-radius: 10px;
}

@media screen and (max-width: 780px) {
    .content-alternativas {
        flex-direction: column;
    }
    .content-questao-atualizada {
        margin-left: -15px;
        height: auto;
        /* padding: 10px; */
    }
   }